/* ---------- GENERAL ----------- */
html {
    font-family: 'Raleway', sans-serif;
}
.color-blue {
    color: #0065FC;
}
.color-gray {
    color: #F2F2F2;
}
.box {
    box-sizing: border-box;
 }
/* ---------- HEADER DESKTOP ---------- */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header {
    width: 110px;
    height: 40px;
    margin-left: 5px;
}
nav {
    height: 100px;
}
.size-nav {
    width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.display-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link {
    text-decoration: none;
    color: black;
}
.menu-link:hover {
    color: #0065FC;
    border-top: solid 3px #0065FC;
    transition: 0.4s;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------- SECTION RECHERCHE DESKTOP ---------- */
.block-search-field {
    margin-left: 30px;
    margin-right: 30px;
}
.icon-map {
    background-color: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-search {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry-field {
    width: 230px;
    height: 50px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;   
}
.button-search {
    width: 120px;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.button-search:hover {
     color: #0065FC;
     background-color: #DEEBFF;
}
.fa-search
{
    display: none;
}
.magnifying-glass {
    visibility: hidden;
}
/* ---------- SECTION FILTRES DESKTOP ---------- */
.filters {
    display: flex;
    align-items: center;
    margin: 50px 30px 40px 30px;
}
.title-filters {
    margin-right: 20px;
}
.filters-text-icons {
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters-icons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filters-text {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filters-text-icons:hover > .filters-text {
    color: #0065FC;
}
.filters-text-icons:hover > .filters-icons {
    color: white;
    background-color: #0065FC ;
}
.info {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.icon-info {
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------- SECTION HERBERGEMENTS DESKTOP ---------- */
.block-lodging {
    display: flex;
    justify-content: space-around;
}
.container-lodging {
    width: 870px;
    height: 610px;
    margin-right: 20px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 2;
    border-radius: 10px;
    background-color: #F2F2F2; 
}
.container-lodging > p {
    padding-left: 25px;
    font-weight: bold;
}
#lodging {
    margin-left: 60px;
}
.hotel-block1, .hotel-block2 {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 245px;
    height: 210px;
    margin: auto;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}
.card-image {
    width: 235px;
    height: 115px;
    margin: auto;
    margin-top: 3px;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    display: block;
    align-items: center;
    object-fit: cover;
}
.card-body {
    text-align: left;
    padding: 10px;
    margin-top: -15px;
    box-sizing: border-box;
}
.card-title {
    padding-left: 5px;
    margin-top: -10px;
}
.card-title > p {
    margin-top: -10px;
}
.load-more {
    margin-left: 40px;
}
/* ---------- SECTION LES PLUS POPULAIRES DESKTOP ---------- */
.container-most-popular {
    width: 470px;
    height: 600px;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    border-radius: 10px;
    background-color: #F2F2F2;
}
.most-popular {
    margin-left: -60px;
}
.card-mp {
    width: 340px;
    height: 145px;
    margin: auto;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.card-mp:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s; 
}
.card-image-mp {
    width: 125px;
    height: 135px;
    margin: auto;
    margin-top: 3px;
    border: 1px solid transparent;
    border-radius: 10px 0px 0px 10px;
    display: block;
    object-fit: cover;
}
.card-body-mp {
    text-align: left;
    padding: 10px;
    margin-top: -15px;
    box-sizing: border-box;
}
.card-title-mp {
    padding-left: 5px;
    margin-top: -10px;
}
.card-rating-mp {
    margin-top: 50px;
    padding-left: 5px;
}
.container-most-popular > p {
    padding-left: 25px;
    font-weight: bold;
}
.title-mp {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 30px;
}
.icon-mp {
    margin-left: 120px;
}
.block3 {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
/* ---------- SECTION ACTIVITES DESKTOP ---------- */
.block-activities {
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
}
.block-activities > p {
    padding-left: 25px;
    font-weight: bold;
}
.card-activities1 {
    width: 300px;
    height: 450px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.card-activities2 {
    width: 300px;
    height: 240px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.card-activities3 {
    width: 300px;
    height: 165px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.card-activities4 {
    width: 300px;
    height: 450px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.card-activities5 {
    width: 300px;
    height: 195px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.card-activities6 {
    width: 300px;
    height: 210px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.image-activities1 {
    width: 300px;
    height: 390px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.image-activities2 {
    width: 300px;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.image-activities3 {
    width: 300px;
    height: 110px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.image-activities4 {
    width: 300px;
    height: 390px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.image-activities5 {
    width: 300px;
    height: 140px;
    border-radius: 10px 10px 0 0;
}
.image-activities6 {
    width: 300px;
    height: 155px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.title-activities {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}
.effect-hover:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
#activities {
    margin: 0 0 0 30px;
}
/* ---------- FOOTER ---------- */
.footer-box {
    background-color: #F2F2F2;
    height: 220px;
    margin-top: 62px;
    padding-left: 2%;
    padding-right: 20%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-box li {
    margin-bottom: 10px;
}
.about nav ul {
    list-style: none;
    flex-direction: column;
}
.our-lodging nav ul {
    list-style: none;
    flex-direction: column;
}
.help nav ul {
    list-style: none;
    flex-direction: column;
}
li .footer-links {
    color: black;
    text-decoration: none;
}
li .footer-links:hover {
    color: #0065fc;
    text-decoration: #0065fc;
}
.footer-about, .footer-our-lodging, .footer-help {
    font-weight: bold;
    font-size: larger;
}
/* ---------- ----- ----- RESPONSIVE TABLETTES ----- ----- ---------- */
@media screen and (max-width: 768px)
/*Header & Nav*/
{
    .display-link {
        display: flex;
        justify-content: row;
        align-items: center;
    }
    .menu-link:hover {
        color: #0065FC;
        border-bottom: solid 3px #0065FC;
        border-top: none;
        padding-bottom: 15px;
        transition: 0.4s;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;        
    }
    .filters-text-icons {
        margin-top: 5px;
        margin-bottom: 5px;
    }
/*Section Hébergements*/
    .block-lodging {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .container-lodging:nth-child(1) {
        order: 2;
    }
    .container-most-popular:nth-child(2) {
        order: 1;
    }
    .container-most-popular {
        width: 90%;
    }
    .card-mp, .card-image-mp, .card-body-mp {
        width: 85%;
        margin-bottom: 15px;
    }
    .title-mp {
        width: 80%;
        justify-content: center;
    }
    .container-lodging {
        width: 90%;
        margin: 10px 0 0 20px;   
    }
    .card {
        width: auto;
        margin: auto;
    }
    .card-image {
        max-width: 95%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .load-more {
        margin-left: -20px;
    }
    #lodging {
        margin-left: 10px; 
    }
    .card-mp:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: 0.4s; 
    }
    .card:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: 0.4s; 
    }
/*section activités*/
    .container-activities {
        width: 90%;
        margin: 10px 0 0 20px;
    }
    .card-activities1, .card-activities2, .card-activities3 {
        width: 26%;
    }
    .card-activities4, .card-activities5, .card-activities6 {
        width: 26%;
    }
    .image-activities1, .image-activities2, .image-activities3 {
        max-width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .image-activities4, .image-activities5, .image-activities6 {
        max-width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .title-activities {
        margin-top: -15px;
    }
    .effect-hover:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: 0.4s;
        box-shadow: 1px 1px 1px 1px #F2F2F2;
    }
/*Footer*/
    .footer-box {
        background-color: #F2F2F2;
        height: 180px;
        margin-top: 62px;
        padding-left: 2%;
        padding-right: 20%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        font-size: small;
    }
}
/* ---------- ----- ----- RESPONSIVE SMARTPHONE ----- ----- ---------- */
@media screen and (max-width: 600px)
/* section filtres*/
{
    .display-link {
        display: flex;
        justify-content: row;
        align-items: center;
    }
    .menu-link:hover {
        color: #0065FC;
        border-bottom: solid 3px #0065FC;
        border-top: none;
        padding-bottom: 15px;
        transition: 0.4s;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;        
    }
    .filters-text-icons {
        margin-top: 5px;
        margin-bottom: 5px;
    }
/*Section Recherche*/
    .button-search {
        visibility: hidden;
    }
    .entry-field {
        width: 200px;
    }
    .fa-search {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #0065fc;
        color: white;
        border-radius: 10px;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    .magnifying-glass {
        visibility: visible;
    }
/*Section Hébergements*/
    .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .menu-link:hover {
        color: #0065FC;
        border-bottom: solid 3px #0065FC;
        transition: 00.4s;
        padding-bottom: 5px;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-header {
        margin-bottom: 20px;
    }
    .block-lodging {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .container-lodging:nth-child(1) {
        order: 2;
    }
    .container-most-popular:nth-child(2) {
        order: 1;
    }
    .container-most-popular {
        width: 85%;
    }
    .card-mp, .card-image-mp, .card-body-mp {
        width: 85%;
        margin-bottom: 15px;
    }
    .title-mp {
        width: 80%;
        justify-content: center;
    }
    .container-lodging {
        width: 85%;
        margin: 10px 0 0 20px;
        background-color: white;
    }
    .card {
        width: 510px;
        height: 180px;
        border: none;
    }
    .card-image {
        width: 510px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .card-title {
        width: 90%;
        padding-left: 10px;
        font-size: small;
    }
    .load-more {
        margin-left: -20px;
    }
    #lodging {
        margin-left: 10px; 
    }
    .card-mp:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: 0.4s; 
    }
    .card:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: 0.4s; 
    }
    .hotel-block1, .hotel-block2 {
        display: flex;
        flex-direction: column;
    }
/*section activités*/
    .container-activities {
        display: block;
        width: 90%;
        margin: 10px 0 0 20px;
    }
    .card-activities1, .card-activities2, .card-activities3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 130px;
    }
    .card-activities4, .card-activities5, .card-activities6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 130px;
    }
    .image-activities1, .image-activities2, .image-activities3 {
        width: 510px;
        height: 95px;
        border-radius: 15px 15px 0 0;
    }
    .image-activities4, .image-activities5, .image-activities6 {
        width: 510px;
        max-width: 100%;
        height: 95px;
        border-radius: 15px 15px 0 0;
    }
    .title-activities {
        margin-top: -15px;
    }
    .effect-hover:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: 0.4s;
        box-shadow: 1px 1px 1px 1px #F2F2F2;
    }
/*Footer*/
    .footer-box {
        flex-direction: column;
        height: max-content;
        background-color: #F2F2F2;
        padding-left: 2%;
        padding-right: 20%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        font-size: small;
    }
}
/*nav mettre ma width et mon liseret sur display link responsive iphone*/